.meus-registros {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)), url(/img/background-consultar.jpg);
    background-size: cover;
    width: 100%;
    height: 85%;
    @include flx(justify-content, center);
    align-items: center;
    flex-direction: column;
    font-family: $font-family-default;
    @include font-size(16px);
    position: relative;

    &__titulo {
        text-align: center;
        @include font-size(35px);
        color: $primaria;
        text-shadow: 1px 1px 2px $secundaria;
        @extend %double-margin-bottom;
        letter-spacing: 1px;
    }

    &__borda-tabela {
        border: 3px solid $primaria;
        padding: 20px;
        background-color: $white;
    }

    &__card {
        position: absolute;
        background-color: $terciaria;
        width: 9%;
        height: 12%;
        @include flx(align-items, center);
        margin-left: -135px;
        margin-top: 85px;
        box-shadow: 1px 1px 2px #5e5e05;
    }

    &__card-txt {
        text-align: center;
        padding: 10px;
    }

    &__click {
        width: 3%;
        position: absolute;
        margin-top: 60px;
        margin-left: -20px;
    }

    &__click-img {
        width: 100%;
    }

    &__th {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
        font-weight: 500;
        letter-spacing: 1px;
    }

    &__td {
        text-align: center;
        padding: 10px;

        &:first-child {
            width: 50px;
        }

        &:nth-child(2) {
            width: 120px;
        }

        &:nth-child(3) {
            width: 80px;
        }

        &:nth-child(4) {
            width: 200px;
        }

        &:nth-child(5) {
            width: 120px;
        }
    }

    &__txt {
        width: 60%;
        margin: auto;
    }

    &__txt-p {
        text-align: center;
        @extend %double-margin-top;
    }

    &__exibicao {
        @include flx(justify-content, space-around);
        align-items: center;
        margin: auto;
        width: 30%;
        margin-top: 2%;
    }

    &__exibicao-btns {
        @include flx(justify-content, space-between);
        align-items: center;
        width: 30%;
    }

    &__exibicao-link {
        width: 15%;
        cursor: pointer;
    }

    &__exibicao-img {
        width: 100%;
    }

    &__exibicao-num {
        color: $secundaria;
        @include font-size(15px);
    }

    &__exibicao-options {
        @include font-size(14px);
        @include flx(justify-content, space-around);
        align-items: center;
        width: 45%;
    }
}