// Color scheme
$primaria: #057549;
$secundaria: #1e4637;
$terciaria: #FFD73E;
$quaternaria: rgb(8, 196, 121);
$white: #FFFFFF;

$font-family-default: 'Roboto',
Helvetica,
sans-serif;

%no-decoration {
    text-decoration: none;
}

%u-decoration {
    text-decoration: underline;
}

@mixin flx($property, $jty-cnt) {
    display: flex;
    #{$property}: $jty-cnt;
}

@mixin for-mobile-only {
    @media (max-width: 767.98px) {
        @content;
    }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) {
        @content;
    }
}

@function calculateRem($size) {
    @return $size / 16px * 1rem;
}

@mixin font-size($size) {
    font-size: calculateRem($size);
}

$directions: top,
bottom,
left,
right;
$layout-margin-size: 10px; // default
$layout-margin-auto: auto;

@each $direction in $directions {
    %no-margin-#{$direction} {
        margin-#{$direction}: 0;
    }

    %margin-auto-#{$direction} {
        margin-#{$direction}: auto;
    }

    %default-margin-#{$direction} {
        margin-#{$direction}: $layout-margin-size;
    }

    %double-margin-#{$direction} {
        margin-#{$direction}: $layout-margin-size * 2;
    }

    %half-margin-#{$direction} {
        margin-#{$direction}: $layout-margin-size / 2;
    }
}

@import 'header', 'boas-vindas', 'registrar-ponto', 'meus-registros', 'cadastrar-funcionarios', 'meu-time', 'meses-anteriores', 'registros-funcionarios', 'footer';

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    width: 80%;
    height: 85%;
    margin: auto;
    font-family: $font-family-default;
    color: $secundaria;
    @include font-size(18px);
    @include flx(justify-content, center);
    align-items: center;

    @include for-mobile-only {
        flex-direction: column;
        width: 90%;
    }

    &__welcome {
        width: 50%;
        height: 100%;

        @include for-mobile-only {
            display: none;
        }
    }

    &__imagem {
        width: 80%;
        height: 100%;
    }

    &__login {
        @include flx(justify-content, center);
        align-items: space-around;
        width: 35%;

        @include for-mobile-only {
            width: 85%;
        }
    }

    &__conteudo {
        @include flx(align-items, center);
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: 90%;
        
    }

    &__logo {
        width: 65%;
    }

    &__logo-qq {
        width: 100%;
    }

    &__formulario {
        width: 100%;
        @include flx(align-items, center);
        flex-direction: column;
    }

    &__fieldset {
        border: 2px solid $secundaria;
        width: 100%;
        @include flx(align-items, center);
        justify-content: space-between;
        flex-direction: column;
        padding: 30px 0;
    }

    &__legenda {
        text-align: center;
        @include font-size(15px);
        color: $primaria;
        background-color: $white;
        padding: 5px;
        width: 80%;
    }

    &__btns-escolha {
        @include flx(justify-content, space-between);
        width: 80%;

        @include for-mobile-only {
            width: 100%;
        }
    }

    &__btn-escolha {
        width: 45%;
        padding: 15px 0;
        background-color: $primaria;
        color: $white;
        @include font-size(15px);
        border: 0;
        cursor: pointer;
        box-shadow: 1px 1px 2px black;
        transition: 0.5s all;
        @extend %double-margin-bottom,
        %default-margin-top;

        &:hover {
            background-color: $quaternaria;
        }

        @include for-mobile-only {
            padding: 10px;
        }
    }

    &__ativo-index, &__ativo {
        background-color: $quaternaria;
    }

    &__inputs {
        @include flx(align-items, flex-start);
        flex-direction: column;
        @extend %double-margin-bottom;
        width: 80%;
    }

    &__label {
        @extend %default-margin-bottom;
        @include font-size(15px);
        color: $primaria;
        font-weight: 600;
        letter-spacing: 1px;
    }

    &__input {
        @include font-size(14px);
        border: 0;
        border-bottom: 1px solid $secundaria;
        padding-bottom: 8px;
        margin: 0;
        width: 90%;
        color: $primaria;

        &:focus {
            outline: 0;
        }
    }

    &__btn {
        @extend %default-margin-bottom,
        %double-margin-top;
        @include font-size(15px);
    }

    &__btn-input {
        padding: 10px 25px;
        border: 0;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $primaria;
        transition: 0.5s all;
        @extend %no-decoration;
        border-radius: 3px;

        &:hover {
            background-color: $quaternaria;
            cursor: pointer;
        }
    }

    &__ajuda {
        @extend %default-margin-top;
        transition: 0.5s all;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__btn-ajuda {
        @include font-size(16px);
        color: $primaria;
        letter-spacing: 1px;
        cursor: pointer;
        border: 0;
        background-color: $white;

        &:hover {
            @extend %u-decoration;
        }
    }

    &__modal {
        background-color: rgba(0, 0, 0, .8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
        z-index: 99;
    }

    &__modal-show {
        display: block;
    }

    &__modal-remove {
        display: none;
    }

    &__modal-content {
        background-color: $white;
        margin: 0 auto;
        margin-top: 10%;
        width: 20%;
        height: 50%;
        padding: 30px;
        box-shadow: 1px 1px 2px #1b1b1b;
        @include flx(justify-content, space-around);
        flex-direction: column;
        align-items: center;
        position: relative;

        @include for-mobile-only {
            width: 70%;
            margin-top: 30%;
        }
    }

    &__modal-close {
        position: absolute;
        margin-left: 90%;
        margin-bottom: 100%;

        @include for-mobile-only {
            margin-bottom: 110%;
        }
    }

    &__btn-close {
        background-color: $white;
        border: none;
        @include font-size(20px);
        font-weight: 600;
        cursor: pointer;
        color: $secundaria;
        transition: 0.5s all;

        &:hover {
            color: $terciaria;
        }
    }

    &__question {
        width: 95%;
        @extend %default-margin-bottom;
    }

    &__question-img {
        width: 100%;
    }

    &__modal-txt {
        @include font-size(16px);
        text-transform:initial;
        color: $secundaria;
        text-align: justify;
    }

    &__modal-p:first-child {
        @extend %default-margin-bottom;
    }

    &__modal-strong {
        font-weight: 600;
    }
}
